*, *:befor, *:after{
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  body{
    background:#555;
    
  }
  .container{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    
  }
  .container div{
    width:200px;
    height:400px;
    background-position:center;
    transition:400ms ;
    border:2px solid #fff;
  }
  .one{
    background:url("https://images.unsplash.com/photo-1532767153582-b1a0e5145009?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fHw%3D");
    
  }
  .two{ background:url("https://images.unsplash.com/photo-1507499739999-097706ad8914?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D");
  }
  .three{
    background:url("https://images.unsplash.com/photo-1610508752370-8323ab10044b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fHw%3D");
  }
  .container div:hover{
    width:300px;
    height:500px;
    background-size:cover;
  }
  